.about-container{
    background: rgb(31 31 31);
    border-radius: 0;
   grid-area: main;
      width: 100%;
      max-height: 89vh;
      display: flex;
      
      flex-direction: column;
      overflow: hidden;
      
      align-content: center;
      justify-content: center;
      padding-top: 0%;
      }
      .about-h1{
        display: flex;
        width: 100%;
        height: 30%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        opacity: 0.8;
        
        padding: 0 37%;
      }
      .about-h1-img{
        width:150px;
      }
      p30{
        color: white;
        font-size: 30px;
        font-weight: 100;
      }
      .about-h2{
        display: flex;
        width: 100;
        height: 40;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0% 20%;
        color: white;
        opacity: 0.6;
        font-weight: 50;
      }
      .about-h3{
        display: flex;
        width: 100%;
        height: 30%;
        justify-content: center;
        align-items: center;
        color: white;
        opacity: 1;
        padding-top: 5%;
        align-content: center;
        font-size: 20px;
        opacity: 0.8;
        
      }
  
  
      .about-head{
        width: 100%;
        height:25%;
       
      }
      .about-foot{
        height: 20%;
        width:100%;
        padding: .5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;
        text-align: center;
        
        background:transparent;
      }
      .about1 {
        width: 100%;
        height: 55%;
        
        perspective: 800px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2%  12%;
        
      }
      
       .card:hover {
        cursor: pointer;
        transform: rotateY(180deg);
      }
      
      
      .card {
        height: 100%;
        width: 100%;
        position: relative;
        transition: transform 1500ms;
        transform-style: preserve-3d;
        box-shadow: 0px 5px 20px black;
        border-radius: 1rem;
      }
      .card-container{
        height: 100%;
        width: 27%;
        background:transparent;
        border-radius: 1rem;
  
      }
      
      .front,
      .back {
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
        position: absolute;
        backface-visibility: hidden;
      }
      
      .front {
        background:transparent;
        border-radius: 1rem;
      }
      .front1a{
        height:85%;
        background:url(vaibhav.jpeg); 
        background-size: cover;
        background-color: antiquewhite; 
        border-radius: 1rem 1rem 0rem 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
        
      }
      .front1b{
        height:85%;
        background:url(anugrah.jpeg); 
        background-size: cover;
        
        border-radius: 1rem 1rem 0rem 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
        
      }
      .front1c{
        height:85%;
        background:url(vansh.jpeg); 
        background-size: cover;
        border-radius: 1rem 1rem 0rem 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
        
      }
      .front2{
        height: 15%;
        font-size: 20px;
        display: flex;
        justify-content: center;
       color: white;
       opacity: 0.7;
        text-align: center;
        align-items: center;
        font-weight: 500;
        background-color: transparent;
  
        border-radius: 0rem 0rem 1rem 1rem;
      }
      
      .back {
        background: linear-gradient(300deg,rgb(150 1 218),rgb(0, 0, 0),#02f1ff);
        background-size: 180% 180%;
        animation: gradient-animation 5s ease infinite;
        transform: rotateY(180deg);
        color: white;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0;
        gap: 0;
        padding: 0% 5%;
      }
      .back-head{
        
        margin-top: 0%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30%;
      font-size: 18px;
      font-weight: 500;
      }
      .back-intro{
        opacity: 0.8;
        
        width: 100%;
        display: flex;
        margin-top: -20%;
        align-items: center;
        justify-content: center;
        height: 50%;
        font-size: 12px;
        font-weight: 200;
      }
      .back-icon{
       width: 100%;
       display: flex;
        align-items: center;
        justify-content: space-between;
       height: 20%;
       padding: 0% 15%;
       flex-direction: row;
       
      }
  
     
  
      .foot1{
   width: 100%;
   font-size: 15px;
   padding:0% 5% ;
   display: flex;
   text-align: left;
   margin-bottom: .75%;
   font-weight: 550;
   color: white;
   opacity: 0.6;
      }
      .foot2{
        width: 100%;
        font-size: 10px;
        padding:0% 5% ;
        margin-bottom: .25%;
        display: flex;
        font-weight: 100;
   text-align: left;
   color: white;
   opacity: 0.4;
      }
      .foot3{
        width: 100%;
        font-size: 10px;
        margin-bottom: .25%;
        padding:0% 5% ;
        display: flex;
        font-weight: 100;
   text-align: left;
   color: white;
   opacity: 0.4;
      }
      .foot4{
        width: 100%;
        font-size: 10px;
        margin-bottom: .75%;
        padding:0% 5% ;
        font-weight: 100;
        display: flex;
   text-align: left;
   color: white;
   opacity: 0.4;
      }
      .foot5{
        width: 100%;
        display: flex;
        padding:0% 5.5% ;
        margin-bottom: .25%;
   text-align: left;
   color: white;
   opacity: 0.7;
      }
  .foot6{
    width: 15%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: 550;
   opacity: 0.2;
   cursor: not-allowed;
  }
  .foot7{
    width: 25%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: 200;
   opacity: 0.1;
   cursor: not-allowed;
  }
  .footbtn{
    width:75px;
    height: 20px;
    color: white;
    border-radius: 5px ;
    box-shadow: 0px 2px 10px black;
    font-size: 12px;
    border: 0;
    padding: 0%;
    background: linear-gradient(300deg,rgb(150 1 218),rgb(0, 0, 0),#02f1ff);
    background-size: 180% 180%;
    animation: gradient-animation 5s ease infinite;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .footbtn:hover{
    
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
  }
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
     
  }
  
      
  
  /* anugrahnew */